#file-explorer {
	.header-section {
		padding: 24px 32px;
		border-bottom: 1px solid #e5e8e8;
		height: 110px;
	}

	.header_title-text {
		color: #282829;
		font-family: Gibson;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 4px;
		display: flex;
		align-items: center;
	}

	#infoToken-img {
		margin-left: 8px;
		cursor: pointer;
	}

	#infoToken-img::part(image) {
		width: 16px;
		height: 16px;
	}

	.header_sub-text {
		color: #565b66;
		font-family: Gibson;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 20px; /* 142.857% */
		letter-spacing: 0.042px;
	}

	.header_file-picker .select-fill-outline {
		border-radius: 8px;
		--border-color: #e5e8e8;
		width: 315px;
		min-height: 35px !important;
		height: 35px;
		margin-top: 16px;
	}

	.header_file-picker ion-select::part(container) {
		width: 300px;
	}

	.header_file-picker ion-select::part(placeholder) {
		color: #6c727b;
		font-family: Gibson;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 21px; /* 150% */
		letter-spacing: 0.042px;
	}

	ion-select.never-flip::part(icon) {
		transform: none;
	}

	.content-section {
		background-color: #fcfcfc;
		padding: 24px 32px;

		.no-file-container {
			display: flex;
			padding: 24px;
			border-radius: 8px;
			border: 1px solid #e5e8e8;
			background: #fff;
			box-shadow: 0px 4px 8px 0px rgba(4, 8, 31, 0.08), 0px 0px 0px 1px #e5e8e8 inset;
			max-width: 500px;
			height: 285px;
			justify-content: space-around;
			align-items: center;

			.info-text {
				margin-bottom: 32px;
				color: #6c727b;
				font-family: Gibson;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
			}

			.create-file-btn .button-native {
				border-radius: 8px;
				background: #1372ec;
				width: 140px;
				height: 32px;
				font-family: Gibson;
				font-size: 14px;
				font-style: normal;
				font-weight: 300;
				line-height: 21px;
				letter-spacing: 0.042px;
			}

			.create-file-btn::part(native) {
				text-transform: none;
			}
		}
	}

	.recent-files-container {
		border-radius: 8px;
		border: 1px solid #e5e8e8;
		background: #fff;
		box-shadow: 0px 4px 8px 0px rgba(4, 8, 31, 0.08), 0px 0px 0px 1px #e5e8e8 inset;
		padding: 32px 24px;
		color: #282829;
		font-family: Gibson;

		.recent-title {
			color: var(--primary-gray-9-t, #282829);
			font-family: Gibson;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
		}
		.recent-subtitle {
			color: var(--primary-gray-6, #6c727b);
			font-size: 14px;
			font-style: normal;
			font-weight: 300;
			line-height: 21px;
			letter-spacing: 0.042px;
			margin-bottom: 24px;
		}

		.recent-files-section {
			display: flex;
			flex-direction: column;
			gap: 32px;
			.recent-file {
				display: flex;
				padding: 16px 32px;
				justify-content: center;
				align-items: center;
				gap: 8px;
				align-self: stretch;
				border-radius: 8px;
				border: 1px solid #e5e8e8;
				background-color: #fff;

				&.create-new {
					background-color: inherit;
					border: 1px dashed var(--primary-gray-4, #d6dcdd);
				}

				color: var(--primary-gray-9-t, #282829);
				&:hover {
					color: #1372ec;
				}
				cursor: pointer;

				.recent-file-name {
					flex: 1;

					font-family: Gibson;
					font-size: 16px;
					font-style: normal;
					font-weight: 300;
					line-height: 28px; /* 155.556% */
					letter-spacing: 0.198px;
					text-transform: capitalize;
				}

				ion-icon {
					--ion-color-base: #b7bcc0;
					&:hover {
						--ion-color-base: #1372ec;
					}
				}

				&:hover {
					box-shadow: 0px 16px 24px 0px rgba(4, 8, 31, 0.06), 0px 0px 0px 1px #e5e8e8 inset;
				}
			}
		}
	}
}
