.code-view-wrapper {
	padding: 32px 24px;
	color: #282829;
	font-family: Gibson;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	/* 150% */
	letter-spacing: 0.154px;
	height: 100%;

	.copy-to-clipboard {
		color: #1372ec;
		font-weight: 300;
		letter-spacing: 0.042px;
		display: flex;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		color: #1372ec;
		font-size: 14px;

		&:hover {
			text-decoration: underline;
		}

		ion-img::part(image) {
			width: 12.5px;
			margin-right: 8px;
		}

		ion-img {
			width: 16px;
			height: 16px;
		}
	}

	.code-view {
		margin-top: 16px;
		border-radius: 8px;
		padding: 24px 24px 24px 8px;
		border: 1px solid #e5e8e8;
		background: #fcfcfc;
		color: #282829;
		font-family: Menlo;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 14px;
		/* 116.667% */
		letter-spacing: 0.036px;
		height: calc(100% - 40px);

		textarea {
			width: 100%;
			height: 100%;
			border: unset;
			background-color: transparent;
			padding: 16px 16px 48px 16px; // Increased bottom padding
			border: 1px solid #e5e8e8;
			border-radius: 8px;
			font-family: monospace;
			font-size: 14px;
			line-height: 1.4;
			resize: none;
			outline: none;
			background: #fcfcfc;

			&:focus-visible {
				outline: unset;
				background-color: #fff;
			}

			&.invalid-JSON {
				border-color: #dc3545;
				background-color: #fff5f5;
			}

			&:focus {
				border-color: #1372ec;
				background: #fff;
			}
		}
	}

	.invalid-JSON {
		color: red;
	}
}