.result-container {
  margin-top: 8px;
  /* width: 484px; */
  height: 208px;
  border-radius: 8px;
  border: 1px solid #E5E8E8;
  display: flex;
  overflow: scroll;
}

.result-container table {
  width: inherit;
  border-collapse: collapse !important;
}

.result-container .table-header {
  background: #FCFCFC;
  color: #6C727B;
  font-family: Gibson;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.result-container table th {
  width: 50%;
  padding: 12px 0px;
}

.result-container table tr {
  border-bottom: 1px solid #E5E8E8;
}

.result-container table td {
  text-align: center;
  color: #565B66;
  font-family: Gibson;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.042px;
  padding: 6px 0px;
}

.result-container table td.values-section {
 text-align: left;
}