#top-bar {
	height: 60px;
	margin: 0;
	background: linear-gradient(270deg, #451c5c -1.34%, #333357 64.73%, #333357 87.2%);

	.header-container {
		padding: 16px 0;
		margin: 0 0 0 1.5rem;
		display: flex;
		align-items: center;

		#coveo-logo-img {
			height: 24px;
			width: 94px;
		}
	}

	#header-separator {
		border-radius: 4px;
		background: #ee8279;
		width: 2px;
		height: 22px;
		margin: 0 11px;
	}

	.top-bar-text {
		color: #fff;
		font-family: Gibson;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 21px; /* 150% */
		letter-spacing: 0.042px;
	}
}

#version {
	font-family: monospace;
	color: #94a9bf;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 3px 8px;
}

#tab-error {
	background: #ee8279;
	border-radius: 12px;
	font-size: 18px;
	margin: 20px;
	padding: 10px 20px 20px;

	code {
		color: #1372ec;
	}
	ion-icon {
		vertical-align: middle;
	}
}
