#top-bar {
  height: 60px;
  margin: 0;
  background: linear-gradient(270deg, #451C5C -1.34%, #333357 64.73%, #333357 87.2%);
}

#top-bar .header-container {
  padding: 16px 0;
  margin: 0 0 0 1.5rem;
  display: flex;
  align-items: center;
}

#top-bar .header-container #coveo-logo-img {
  height: 24px;
  width: 94px;
}

#top-bar #header-separator {
  border-radius: 4px; 
  background: #EE8279;
  width: 2px;
  height: 22px; 
  margin: 0 11px;
}

#top-bar .top-bar-text {
  color: #FFF;
  font-family: Gibson;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 150% */
  letter-spacing: 0.042px;
}
