#json-config{
	width: 99%;
	height: 450px;
}
/*
#editor-container{
	padding-right: 7.5px;
}*/

#error{
	color:red;
}

#storageError{
	color:red;
}

#log{
	border: 1px solid silver;
}

body{
	background-color: #F1F1E1;
}

#resultTable{
	background-color: #FAFAFA;
}

#resultTable th{
	color: #F58020;
}

#resultTable td{
	color: #313A45;
}

#resultTable td:first-child{
	color: #004990;
}

#resultTable ol{
	padding-right: 0;
	padding-left: 1em;
	margin: 0;
}

#quickAddBorder{
	border:1px solid black;
	padding: 5px;
}

#quickAddContainer{
	margin-top: 10px;
}

#storageSuccess{
	color: green;
	display: inline;
}

#editor-container{
	border:1px solid black;
	padding: 5px;
	width: 98%;
	height: 500px;
	overflow:scroll;
}

#editor-container::-webkit-scrollbar { 
    display: none; 
}

#editor-text{
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.exclude-query{
	width: 90%;
}

.exclude-query span input{
	width: 99%;
}

.metadata-query:first-child{
	width: 20%;
	padding-right: 5px;
}

.metadata-query{
	width: 100%;
}

.metadata-query span input{
	width: 98%;
}

#editor > p{
	margin-bottom: 0;
}

.button{
	background-color: #263E55;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 2px;
}

.add-button{
	background-color: green;
	color: white;
	border: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 2px;
}

.sub-button{
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 2px;
}

.center-button{
	margin-top: 5px;
	text-align: center;
}