body{
	margin: 0;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #313A45;
}

#json-config{
	width: 99%;
	height: 410px;
}

#error{
	color:red;
}

#storageError{
	color:red;
}

#log{
	border: 1px solid silver;
}

body{
}

/*Result Table*/
#resultTable{
	background-color: #FAFAFA;
}

#resultTable th{
	color: #F58020;
}

#resultTable td{
	color: #313A45;
}

#resultTable td:first-child{
	color: #004990;
}

#resultTable ol{
	padding-right: 0;
	padding-left: 1em;
	margin: 0;
}
/**************/

#quickAddBorder{
	border:1px solid black;
	padding: 5px;
}

#quickAddContainer{
	margin-top: 10px;
}

#storageSuccess{
	color: green;
	display: inline;
}

#editor-container{
	border: 1px solid #ddd;
	border-top: none;
	padding: 5px;
	width: 100%;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
}

#editor-text{
	padding: 0;
	margin: 0;
	font-size: 20px;
}

#editor > p{
	margin-bottom: 0;
}

.button{
	background-color: #263E55;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 2px;
}

.add-button{
	background-color: green;
	height: 28px;
    width: 28px;
	color: white;
	border: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 28px;
	margin-top: 5px;
}

.center-button{
	text-align: center;
}

.body-wrapper{
	padding:10px;
}

#tab-container{
	width: 100%;
}

#fetch{
	padding-left: 50px;
	padding-right: 50px;
}

#exclude-table{
	width: 100%;
}

#metadata-table{
	width: 100%;
}

/*New visuals*/

.rule {
    border: 1px solid silver;
    display: flex;
    overflow: hidden;
    margin-bottom: 5px;
	width: 100%;
	background-color: white;
}

.rule > *, .toggle::after {
    line-height: 30px;
    margin: 0;
}

.rule input[type=checkbox] {
    margin: 0;
}

.rule input[type=text] {
    border: 0;
    /*flex: 1;*/
    padding-left: 10px;
    outline: none;
	width: 100%;
	text-overflow: ellipsis;
}

.glyphicon-remove {
    color: #CE3F00;
    visibility: hidden;
    transition: margin 0.25s;
    cursor: pointer;
}

.rule:hover .glyphicon-remove {
    visibility: visible;
}

.toggle {
    -webkit-appearance: inherit;
    min-width: 60px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-right: 1px solid silver;
}
.toggle::after {
    content: "XPATH";
}
.toggle:checked::after {
    content: "CSS"
}

/*************/

.field-input{
	width: 20% !important;
	border-right: 1px solid silver !important;
}

#storage{
	padding: 10px;
}