html, body, .App, #root {
	height: 100%;
}

body, .App, #root {
	display: flex;
	flex-direction: column;
}

#setup, #rules-and-results > * {
	padding: 8px;
}

#rules-and-results {
	flex: 1;
	display: flex;
}

#storage.form-control {
	max-width: 200px;
	display: inline-block;
	margin-right: 20px;
}

@media only screen and (max-width: 950px) {
	#rules-and-results {
		flex-direction: column;
	}
}

#rules, #results {
	flex: 1;
	overflow: auto;
}

#rules {
	display: flex;
	flex-direction: column;
	overflow: auto;
}
#rules #editor-container {
	flex: 1;
}

#error, #storageError {
	color:red;
	white-space: pre;
}

textarea.invalid {
	color: red;
}

#log{
	border: 1px solid silver;
}
#log:empty{
	display: none;
}
/*Result Table*/
#resultTable {
	background-color: #FAFAFA;
}

#resultTable tr:nth-child(odd) {
	background-color: #F0F0F0;
}

#resultTable th {
	color: #F58020;
	padding: 5px;
}

#resultTable td {
	color: #313A45;
	white-space: pre;
	padding: 5px;
}

#resultTable td:first-child {
	color: #004990;
}

#resultTable ol {
	padding-right: 0;
	padding-left: 1em;
	margin: 0;
}
/**************/

#storageSuccess{
	color: green;
	display: inline;
}

#editor-container{
	border: 1px solid #ddd;
	border-top: none;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;

	/* display: flex;
	flex-direction: columns; */
}

#editor-container > * {
	flex: 1;
	/* display: flex;
	flex-direction: column; */
}

#text-editor {
	height: 100%;
	position: relative;
}

#text-editor > button {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#json-config {
	width: 100%;
	height: 100%;
	resize: none;
}

#editor > p{
	margin-bottom: 0;
}


#tab-container{
	width: 100%;
}

#fetch{
	padding-left: 50px;
	padding-right: 50px;
}

#exclude-table{
	width: 100%;
}

#metadata-table{
	width: 100%;
}

/*New visuals*/

.rule {
	border: 1px solid silver;
	display: flex;
	overflow: hidden;
	margin-bottom: 5px;
	width: 100%;
	background-color: white;
}

.rule > *, .wsh-rule-type::after {
	line-height: 30px;
	margin: 0;
}

.rule input[type=checkbox] {
	margin: 0;
}

.rule input[type=text] {
	border: 0;
	/*flex: 1;*/
	padding-left: 10px;
	outline: none;
	width: 100%;
	text-overflow: ellipsis;
}

.glyphicon-remove {
	color: #CE3F00;
	visibility: hidden;
	transition: margin 0.25s;
	cursor: pointer;
}

.rule:hover .glyphicon-remove {
	visibility: visible;
}

.wsh-rule-type {
	-webkit-appearance: inherit;
	min-width: 60px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	border-right: 1px solid silver;
}
.wsh-rule-type::after {
	content: "XPATH";
}
.wsh-rule-type:checked::after {
	content: "CSS"
}

/*************/

.wsh-rule-name {
	width: 20% !important;
	border-right: 1px solid silver !important;
}

#storage{
	padding: 10px;
}

.btn-circle-sm {
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 2px 0;
	font-size: 20px;
	line-height: 1.65;
	border-radius: 30px;
}

