
.code-view-wrapper {
  padding: 32px 24px;
  color: #282829;
  font-family: Gibson;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  letter-spacing: 0.154px;
}

.code-view-wrapper .copy-to-clipboard {
  color: #1372EC;
  font-weight: 300;
  letter-spacing: 0.042px;
  display: flex;
  cursor: pointer;
}

.code-view-wrapper .copy-to-clipboard ion-img::part(image) {
  width: 12.5px;
  margin-right: 8px;
}

.code-view-wrapper .code-view {
  margin-top: 16px;
  border-radius: 8px;
  padding: 24px 24px 24px 8px;
  border: 1px solid #E5E8E8;
  background: #FCFCFC;
  color: #282829;
  font-family: Menlo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.036px;
}

.code-view-wrapper .code-view textarea {
  width: 100%;
  height: 225px;
  border: unset;
  background-color: transparent;
  padding: 8px;
}

.code-view-wrapper .code-view textarea:focus-visible {
  outline: unset;
  background-color: #fff;
}

.invalid-JSON {
  color: red;
}